@import "../../node_modules/@angular/material/core/theming/all-theme";

$primary: md-palette($md-amber, 700, 800, 900);
$accent: md-palette($md-amber, 300, 400, 500);
$warn: md-palette($md-red);
$theme: md-light-theme($primary, $accent, $warn);

$color-primary: md-color($primary);
$color-accent: md-color($accent);
$color-warn: md-color($warn);