/// <reference path="app.colors.scss" />
@import "app.colors";

$theme-color: $deep-orange;
$secondary-color: $blue;

$color-body: color($grey, 300);
$color-body-weak: color($grey, 200);
$color-body-strong:color($grey, 400);

$color-primary: color($theme-color, 700);
$color-primary-weak: color($theme-color, 600);
$color-primary-strong: color($theme-color, 800);

$color-secondary: color($secondary-color, 700);
$color-secondary-weak: color($secondary-color, 600);
$color-secondary-strong: color($secondary-color, 800);