$device-small: 1;
$device-medium: 2;
$device-large: 3;

$size-small: 320px;
$size-large: 1024px;

@mixin respond-to($media) {
    @if $media == $device-small {
        @media only screen and (max-width: $size-small) {
            @content;
        }
    }

    @if $media == $device-medium {
        @media only screen and (min-width: $size-small + 1) and (max-width: $size-large) {
            @content;
        }
    }

    @if $media == $device-large {
        @media only screen and (min-width: $size-large) {
            @content;
        }
    }
}

$alignOptions: start, end, center, start, between;
$justifyOptions: center, start;

@function align-translate($option, $justify) {

  @if ($justify) {
    @if ($option == "start") {
      @return "flex-start";
    }

    @if ($option == "end") {
      @return "flex-end";
    }
    
    @if ($option == "between") {
      @return "space-between";
    }

    @if ($option == "around") {
      @return "space-around";
    }

    @return $option;
  }

  @return $option;
}


@each $align in $alignOptions {
  
  @each $justify in $justifyOptions {
      [align="#{$align} #{$justify}"] {
          align-items: $align-translate($align, false);
        	justify-content: $align-translate($justify, true);
      }
  }
}

[layout],
[layout="row"] {
  display: flex;
  flex-direction: row;
}

[layout="column"] {
  display: flex;
  flex-direction: column;
}

[flex] {
  flex: 1 0 auto;  
}

@for $i from 1 through 100 {  
  [flex="#{$i}"] {
    flex: $i 0 auto;
  }
}

.center-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

@include respond-to($device-small) {

  [layout-sm],
  [layout-sm="row"] {
    display: flex;
    flex-direction: row;
  }

  [layout-sm="column"] {
    display: flex;
    flex-direction: column;
  }

  [flex-sm] {
    flex: 1 0 auto;
  }

  @for $i from 1 through 100 {
    [flex-sm="#{$i}"] {
      flex: $i 0 auto;
    }
  }
}

@include respond-to($device-medium) {

  [layout-md],
  [layout-md="row"] {
    display: flex;
    flex-direction: row;
  }

  [layout-md="column"] {
    display: flex;
    flex-direction: column;
  }

  [flex-md] {
    flex: 1 0 auto;
  }

  @for $i from 1 through 100 {  
    [flex-md="#{$i}"] {
      flex: $i 0 auto;
    }
  }
}